@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}
}

@layer components {
	/** hamburger menu */
	.hamburger {
		@apply relative h-6 w-6 cursor-pointer transition-all;
	}

	.hamburger-top,
	.hamburger-middle,
	.hamburger-bottom {
		@apply absolute block h-0.5 w-5 transform bg-current transition duration-500 ease-in-out;
	}

	.hamburger-middle {
		@apply translate-y-[7px];
	}

	.hamburger-bottom {
		@apply translate-y-[14px];
	}

	.open {
		@apply translate-y-0 rotate-90;
	}

	.open .hamburger-top {
		@apply translate-y-[6px] rotate-45;
	}

	.open .hamburger-middle {
		@apply hidden;
	}

	.open .hamburger-bottom {
		@apply translate-y-[6px] -rotate-45;
	}
}

body {
	background-image: url('/assets/bg-tablet-pattern.svg');
	background-repeat: no-repeat;
	background-size: 800px;
	background-position: 90% -25%;
}

#cta {
	background-image: url('/assets/bg-simplify-section-desktop.svg');
	background-repeat: no-repeat;
}

@media (max-width: 576px) {
	body {
		background-position: 50px -50px;
		background-size: 500px;
	}

	#cta {
		background-image: url('/assets/bg-simplify-section-mobile.svg');
	}
}
